* {
    overscroll-behavior:contain;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.gray {
    color: gray;
}

.green {
    color: green;
}

.greenBg {
    background-color: green;
}

.orange {
    color: orange;
}

.redBg {
    background-color: red;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-justify {
    display: flex;
    justify-content: center;
}

.d-justySA {
    display: flex;
    justify-content: space-around;
}

.d-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hideOverflow {
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
}

.positionFix {
    position: fixed;
    width: 100%;
    display: unset;
}

.w100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

