body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* #pokedex {
    min-height: 50vh;
    background-color: red;
    color: white;
} */

#pokedex {
    min-height: 100vh;
    width: 100vw;
    background-color: #fb6C6C;
    color: white;
    display: flex;
    padding: 24px;
    gap: 10px;
    flex-wrap: wrap;
}


.pokemonCard {
    height: 250px;
    width: 250px;
    background-color: beige;
}


.pokemonCard h1 {
    color: red;
}



.pokemonCard img {
    height: 100px;
    width: 100px;
}


.infoContainer{
    /* margin-top: -100px; */
    height: 100px;
    min-height: 100px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

