body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

.fullPokemonCard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000e0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokedex {
    background-color: #fb6C6C;
    color: white;
    display: flex;
    padding: 24px;
    gap: 20px;
    flex-wrap: wrap;
}


.pokemonCard {
    height: 250px;
    width: 290px;
    background-color: #6c6c6c;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 55%);
    border-radius: 15px 15px 0px 0px;

}

.pokemonCard:hover {
    scale: 1.1;
}

.pokemonCard h1 {
    color: red;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

/* .glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #6c6c6c;
    cursor: pointer;
    position: relative;
    z-index: 0;
} */

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #6c6c6c;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.pokemonWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardHead {
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.cardHead p {
    text-align: center;
    height: max-content;
    min-height: 40px;
    min-width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonCard img {
    height: 100px;
    width: 100px;
}

.pokeTypeContainer {
    display: flex;
    gap: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.pokeTypeBox {
    border: 1px solid black;
    border-radius: 22px;
    padding: 14px;
    height: 30px;
    min-width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainer{
    /* margin-top: -100px; */
    height: 100px;
    min-height: 100px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.grass {
    background-color: green;
}


.pokeCardContainer {
    position: relative;
    height: 80%;
    width: 50%;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
}

.pokeCardHeadBox {
    padding: 10px;
    color: white;
}


.pokeCardInteraction {
    display: flex;
    justify-content: space-between;
}



.pokeCardBackBtn {
    background: url(./img/back.svg);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 48px;
    padding: 25px;
}

.pokeCardLikeImg {
    cursor: pointer;
}

.pokeCardIdent {
    display: flex;
    justify-content: space-around;
}

.pokeCardIdent p {
    font-weight: bold;
}

.pokeCardTypes {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.pokePreview {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.pokeCardPokeImg {
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 325px;
    margin: auto; */
    max-height: 225px;
    max-width: 225px;
}
 
.pokeMainText {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    margin: 0 5px 5px 5px;
    /* position: absolute;
    bottom: 50%; */
    color: black;
    font-weight: bold;
}


.pokeCardBottomBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border-radius: 25px 25px 0px 0px;
    background-color: white;
}

.pokeCardNavbar {
    margin-top: 5px;
    border-radius: 25px 25px 0px 0px;
    padding: 10px;    
    padding-left: 0px;
}

.navbar-brand {
    margin-left: 10px;
}

.navbar-collapse {
    background-color: inherit;
    width: 100%;
}

.navbar-nav {
    justify-content: space-evenly;
    width: 100%;
    margin-left: 5px;
}

.pokeAboutContainer {
    height: 100%;
    margin-top: 10px;
}

.headAboutContainer {
    display: flex;
    justify-content: space-around;
}

.pokeAboutChildBox {
    width: 50%;
    justify-content: space-between;
}



.pokeStats {
    width: 50%;
    justify-content: space-between;

}

.pokeStatsP1 {
    width: max-content;
    color: rgb(141, 143, 146);
}





.pokeEvoContainer {
    height: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pokeEvoBox {
    text-align: center;
    font-weight: bold;
}

.pokeEvoBox img{
    height: 100px;
}

.pokeMovesContainer {
    height: 100%;
    overflow: auto;
}
@media (max-width: 992px) {
    .navbar-toggler {
        display: unset;
    }
    .navbar-collapse {
        position: absolute;
        top: 60px;
    }
}

.lg {
    display: flex;
}