body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

.searchBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#countryList {
    width: 70%;
    padding-left: 11%;
  }

.pokeSearchbarHitImage{
    height: 100px;
    width: 100px;
}

.searchbarHits {
    padding: 10px;
    color: black;
    font-size: 30px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background-color: white;
    overflow-y: scroll;
    height: calc(100vh - 92px);
}

.card {
    background-color: unset !important;
    display: flex !important;
    flex-direction: unset;
    gap: 10px;
}

.card-content:hover {
    cursor: pointer;
}

p {
    margin-bottom: unset;
}

.fullPokemonCard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000e0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

#pokedex {
    background-image: url(./img/pokeBGR.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: center;
    padding: 24px;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 92px;
}

.pokemonCard {
    height: 220px;
    width: 300px;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 55%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonCard:hover {
    scale: 1.1;
    cursor: pointer;
}

.pokemonCard h1 {
    color: white;
}

.glow-on-hover:before {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

/* .glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #6c6c6c;
    cursor: pointer;
    position: relative;
    z-index: 0;
} */

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.pokemonWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardHead {
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.cardHead p {
    text-align: center;
    height: max-content;
    min-height: 40px;
    min-width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.pokemonCard img {
    height: 100px;
    width: 100px;
}

.pokeTypeContainer {
    display: flex;
    gap: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.pokeTypeBox {
    border: 1px solid black;
    border-radius: 22px;
    padding: 14px;
    height: 30px;
    min-width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainer{
    /* margin-top: -100px; */
    height: 100px;
    min-height: 100px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.grass {
    background-color: green;
}


.pokeCardContainer {
    position: relative;
    height: 90%;
    width: 80%;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
    
}

.pokeCardHeadBox {
    background: url(./img/PokeBackground.jpg);
    background-position: center;
    height: 55%;
    padding: 5px;
    color: white;
}


.pokeCardInteraction {
    display: flex;
    justify-content: space-between;
}



.pokeCardBackBtn {
    background: url(./img/back.svg);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 48px;
    padding: 25px;
}

.pokeCardLikeImg {
    cursor: pointer;
}

.pokeCardIdent {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.pokeCardIdent p {
    font-weight: bold;
}

.pokeCardIdent h2 {
    border: 3px solid rgb(114, 114, 114);
    border-radius: 10px;
    background-color: black;
    margin: 0;
    height: fit-content;
    padding: 5px;
}

.pokeCardTypes {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.pokePreview {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.pokeImagesContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pokeCardPokeImg {
    height: 220px;
    width: 220px;
    z-index: 1;
}

.pokeCardPokeTypeImg {
    border: 1px solid black;
    border-radius: 100%;
    padding: 5px;
    height: 80px;
    width: 80px;
    transition: 200ms all;
}
 
.pokeMainText {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    margin: 0 5px 5px 5px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}


.pokeCardBottomBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    border-radius: 25px 25px 30px 30px;
    background-color: white;
    position: relative;
    top: -30px;
}


.pokeCardNavbar {
    border-radius: 25px 25px 0px 0px;
    padding: 10px;    
    padding-left: 0px;
}

.navbar-brand {
    margin-left: 10px;
}

.navbar-collapse {
    background-color: inherit;
    width: 100%;
}

.navbar-nav {
    justify-content: space-evenly;
    width: 100%;
    margin-left: 5px;
}

.pokeAboutContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headAboutContainer {
    display: flex;
    justify-content: space-around;
}

.pokeAboutChildBox {
    justify-content: space-between;
}


.pokeStatsContainer {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.pokeStats {
    width: 50%;
    justify-content: space-between;

}

.pokeStatsP1 {
    width: max-content;
    color: rgb(141, 143, 146);
}





.pokeEvoContainer {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pokeEvoBox {
    text-align: center;
    font-weight: bold;
}

.pokeEvoBox img{
    height: 100px;
    width: 100px;
    max-height: 150px;
    max-width: 150px;
}

.pokeSingleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.pokeSingleBox img {
    width: 60%;
    height: 60%;
}

.pokeMovesContainer {
    height: 100%;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: white;
}

.pokeMoveTag {
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}

@media (min-width: 3440px) {
    #pokedex {
        display: flex;
    }
    .pokemonCard {
        height: 500px;
        width: 500px;
    }
    .pokemonCard img {
        height: 230px;
        width: 230px;
    }
    
}

@media (max-width: 992px) {
    .navbar-toggler {
        display: unset;
    }
    .navbar-collapse {
        position: absolute;
        top: 60px;
    }
}


@media (max-width: 840px) {
    .pokeCardContainer {
        width: 85%;
    }
    .pokeMainText {
        margin-top: 10px;
    }
    .pokeCardBottomBox {
        top: -25px;
    }
}

@media (max-width: 550px) {

    .pokePreview {
        margin-top: 15px;
    }
    .pokeCardContainer {
        height: 100%;
        width: 100%;
    }
    .pokeCardPokeImg {
        height: 180px;
        width: 180px;
    }
    .pokeCardBottomBox {
        top: -40px;
        height: 50%;
    }
    .pokeEvoContainer {
        display: flex;
        flex-direction: column;
    }
    .levelUpImg {
        height: 30px;
        transform: rotate(90deg);
    }
    .pokeEvoBox img {
        height: 50px;
    }
}

@media (max-width: 380px){
    .pokePreview {
        margin-top: 0;
    }
    .pokeCardIdent h2 {
        border: 1px solid rgb(114, 114, 114);
        width: fit-content;
        height: 30px;
        padding: 0;
    }
    .pokeCardBottomBox {
        top: -90px;
    }
    .pokeCardPokeImg {
        height: 120px;
        width: 120px;
    }
    .pokeCardPokeTypeImg {
        height: 55px;
        width: 55px;
    }
    .pokeMainText {
        display: none;
    }
}

/* @media (max-width: 390px) {
    .pokeCardBottomBox {
        height: unset;
    }
    .pokeCardPokeImg {
        height: 125px;
    }
    .pokeEvoBox img {
        height: 40px;
    }
    .levelUpImg {
        height: 22px;
    }
    .pokePreview {
        margin-top: 15px;
    }
    .pokeCardContainer {
        height: 90%;
    }
}

@media (max-width: 330px) {
    .pokeCardContainer {
        height: 95%;
    }
    .pokeCardBottomBox {
        height: 100%;
        top: -80px;
    }
    .pokeCardBackBtn {
        background-size: 25px;
    }
    .pokeTag h2 {
        display: none;
    }
    .pokeCardPokeImg {
        width: unset;
    }
    .pokeCardPokeTypeImg {
        height: 50px;
        width: 50px;
    }
    .pokeCardIdent h2 {
        border: 1px solid rgb(114, 114, 114);
        width: fit-content;
        height: 30px;
        padding: 0;
    }
    .pokeCardIdent  {
        margin-bottom: 0;
        display: flex;
        justify-content: unset;
    }
    .pokeCardTypes {
        display: unset;
    }
    .pokePreview {
        margin-top: 0px;
    }
    .pokeCardInteraction {
        height: 30px;
    }
    .pokeAboutContainer {
        justify-content: unset;
    }
    .pokeEvoContainer {
        height: unset;
    }
    
} */

.lg {
    display: flex;
}