
body {
    background-color: white;
    padding: 0 0 0 20%;
    margin: 5%;
  }
  #countryList {
    width: 70%;
    padding-left: 11%;
  }

.pokeSearchbarHitImage{
    height: 50px;
    width: 50px;
}